.heroBanner {
    width: 100%;
    height: 85vh;
    background: #202124;
    display: grid;
    place-items: center;
}

.swiperHeroBanner {
    margin-top: 110px;
    width: 100%;
    height: 90%;
    padding: 50px 0;
}

.swiperHeroBanner .swiper-slide {
    position: relative;
    width: 85% !important;
    overflow: hidden;
    border-radius: 15px;
}

.swiperHeroBanner .swiper-slide .imgSwiper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiperHeroBanner .swiper-slide .imgSwiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiperHeroBanner .swiper-slide .imgSwiper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(32, 33, 36, 1) 0%, rgba(32, 33, 36, 0.9) 35%, rgba(32, 33, 36, 0) 100%);
}

.swiperHeroBanner .swiper-slide .in4Swiper {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.swiperHeroBanner .swiper-slide .in4Swiper h1 {
    color: #fff;
    font-size: 3vw;
    letter-spacing: 1px;
    word-break: break-all;
}

.swiperHeroBanner .swiper-slide .in4Swiper .categoryIn4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.swiperHeroBanner .swiper-slide .in4Swiper .ratingIn4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.swiperHeroBanner .swiper-slide .in4Swiper .categoryIn4 .mainCategory {
    background: #2a2e37;
    color: gray;
    padding: 5px 15px;
    border-radius: 99px;
    text-decoration: none;
    transition: color .3s;
}

.swiperHeroBanner .swiper-slide .in4Swiper .categoryIn4 .mainCategory:hover {
    color: rgba(211, 211, 211, 0.8);
}

.swiperHeroBanner .swiper-slide .in4Swiper .ratingIn4 .ratingChild {
    display: flex;
    align-items: center;
    gap: 8px;
}

.swiperHeroBanner .swiper-slide .in4Swiper .ratingIn4 .ratingChild .brandRate {
    padding: 5px 10px;
    border-radius: 99px;
    color: black;
    font-weight: bold;
}

.swiperHeroBanner .swiper-slide .in4Swiper .ratingIn4 .ratingChild .rateScore {
    color: rgba(211, 211, 211, 0.8);
}

.swiperHeroBanner .swiper-slide .in4Swiper .ratingIn4 .ratingChild .brandImdb {
    border-radius: 0;
    background: #F5C518;
}

.swiperHeroBanner .swiper-slide .in4Swiper .ratingIn4 .ratingChild .brandAge {
    background: #EE9D84;
}

.swiperHeroBanner .swiper-slide .in4Swiper .ratingIn4 .ratingChild .brandTime {
    background: #75CE99;
}

.swiperHeroBanner .swiper-slide .in4Swiper .contentIn4 {
    color: rgba(211, 211, 211, 0.8);
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.swiperHeroBanner .swiper-slide .in4Swiper .buttonIn4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.swiperHeroBanner .swiper-slide .in4Swiper .playButton {
    text-decoration: none;
    border: none;
    background: #94b1f2;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 99px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s;
    color: #202124;
    cursor: pointer;
    text-wrap: nowrap;
}

.swiperHeroBanner .swiper-slide .in4Swiper .playButton:hover {
    color: #fff;
}

.swiperHeroBanner .swiper-slide .in4Swiper .trailerButton {
    text-decoration: none;
    background: transparent;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 99px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s;
    color: #94b1f2;
    outline: 1px solid #94b1f2;
    border: none;
    cursor: pointer;
    text-wrap: nowrap;
}

.swiperHeroBanner .swiper-slide .in4Swiper .trailerButton:hover {
    color: #fff;
    background: #94b1f2;
}

.swiperHeroBanner .swiper-slide .in4Swiper .playButton:active,
.swiperHeroBanner .swiper-slide .in4Swiper .trailerButton:active {
    scale: 0.9;
}

.swiperHeroBanner .swiper-button-prev {
    margin-left: 15px;
}

.swiperHeroBanner .swiper-button-next {
    margin-right: 15px;
}

.swiperHeroBanner .swiper-button-next,
.swiperHeroBanner .swiper-button-prev {
    transition: all.3s;
    color: #fff !important;
}

.swiperHeroBanner .swiper-button-next:hover,
.swiperHeroBanner .swiper-button-prev:hover {
    color: #94b1f2 !important;
}

.landingMovie {
    width: 100%;
    min-height: 100%;
    padding: 75px 150px;
    background: #202124;
}