header {
    padding: 10px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background: #202124;
    backdrop-filter: blur(10px);
    transition: all .3s;
}

header .coverHeader {
    display: flex;
    align-items: center;
    gap: 30px;
    background: inherit;
}

header .headerBrand {
    text-decoration: none;
    display: inline-block;
    background: inherit;
}

header .headerBrand .headerBrandName {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28px;
    border: 2px solid #94b1f2;
    padding: 5px 10px;
    background: inherit;
}

header .headerBrand .headerBrandSlogan {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #94b1f2;
    line-height: 0.1em;
    margin: 10px 0;
    background: inherit;
}

header .headerBrand .headerBrandSlogan span {
    color: #fff;
    background: inherit;
    padding: 0 10px;
    font-style: italic;
    font-weight: bold;
}

header .headerGate {
    display: flex;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

header .headerGate .headerGateChild {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: color .3s;
    cursor: pointer;
}

header .headerGate .aloneGate:hover {
    color: #94b1f2;
}

header .headerGate .genresGate,
header .headerGate .nationGate {
    position: relative;
}

.genresGate .genresGateChild,
.nationGate .nationGateChild {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 150%;
    right: 0;
    background: #2a2e37;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.genresGate .genresGateChild a,
.nationGate .nationGateChild a {
    text-decoration: none;
    color: #fff;
    width: calc(100%/3);
    text-align: center;
    transition: color .3s;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 10px 20px;
    text-wrap: nowrap;
}

.genresGate .genresGateChild a:hover,
.nationGate .nationGateChild a:hover {
    color: #94b1f2;
    border-color: #94b1f2;
}

.genresGate:hover .genresGateChild,
.nationGate:hover .nationGateChild {
    opacity: 1;
    visibility: visible;
}

header .headerSearch {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #94b1f2;
    border-radius: 99px;
    position: relative;
}

header .headerSearch .autoCompleteHeader {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 250px;
    padding: 15px;
    background: #2a2e37;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.24);
}

header .headerSearch .autoCompleteHeader .autoCompleteChild {
    background: #202124;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    gap: 15px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
    text-decoration: none;
}

header .headerSearch .autoCompleteHeader .autoCompleteChild:active {
    scale: 0.95;
}

header .headerSearch .autoCompleteHeader .autoCompleteChild:hover {
    border: 1px solid #94b1f2;
}

header .headerSearch .autoCompleteHeader .autoCompleteChild img {
    width: 50px;
    height: 100%;
    object-fit: cover;
}

header .headerSearch .autoCompleteHeader .autoCompleteChild .autoCompleteChildIn4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.autoCompleteHeader .autoCompleteChild .autoCompleteChildIn4 h3 {
    color: rgba(211, 211, 211, 0.8);
    font-size: 20px;
}

.autoCompleteHeader .autoCompleteChild .autoCompleteChildIn4 span {
    color: rgba(211, 211, 211, 0.8);
    font-size: 18px;
}

.autoCompleteHeader .autoCompleteChild .autoCompleteChildIn4 p {
    color: gray;
    font-size: 16px;
}

header .headerSearch .headerButtonSearch {
    width: 22px;
    height: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

header .headerSearch .headerButtonSearch svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    transition: fill .3s;
}

header .headerSearch .headerButtonSearch:hover svg {
    fill: #94b1f2;
}

header .headerSearch input {
    height: 22px;
    width: 250px;
    font-size: 16px;
    border: none;
    background: none;
    color: #fff;
}