header {
    padding: 10px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background: #202124;
    backdrop-filter: blur(10px);
    transition: all .3s;
}

header .coverHeader {
    display: flex;
    align-items: center;
    gap: 30px;
    background: inherit;
}

header .headerBrand {
    text-decoration: none;
    display: inline-block;
    background: inherit;
}

header .headerBrand .headerBrandName {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28px;
    border: 2px solid #94b1f2;
    padding: 5px 10px;
    background: inherit;
}

header .headerBrand .headerBrandSlogan {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #94b1f2;
    line-height: 0.1em;
    margin: 10px 0;
    background: inherit;
}

header .headerBrand .headerBrandSlogan span {
    color: #fff;
    background: inherit;
    padding: 0 10px;
    font-style: italic;
    font-weight: bold;
}

header .headerGate {
    position: relative;
    display: flex;
}

header .headerGate .headerBarsButton {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
    border-radius: 50%;
}

header .headerGate .headerBarsButton:hover {
    background: rgba(128, 128, 128, 0.2);
}

header .headerGate .headerBarsButton svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

header .headerGate .headerGateChildCover {
    display: flex;
    gap: 35px;
    align-items: center;
    flex-wrap: wrap;
    transition: all .3s;
}

header .headerGate .headerGateChild {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: color .3s;
    cursor: pointer;
}

header .headerGate .aloneGate:hover {
    color: #94b1f2;
}

header .headerGate .genresGate,
header .headerGate .nationGate {
    position: relative;
}

.genresGate .genresGateChild,
.nationGate .nationGateChild {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 150%;
    right: 0;
    background: #2a2e37;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.genresGate .genresGateChild a,
.nationGate .nationGateChild a {
    text-decoration: none;
    color: #fff;
    width: calc(100%/3);
    text-align: center;
    padding: 10px 20px;
    text-wrap: nowrap;
    transition: color .3s;
}

.genresGate .genresGateChild a:hover,
.nationGate .nationGateChild a:hover {
    color: #94b1f2;
}

.genresGate:hover .genresGateChild,
.nationGate:hover .nationGateChild {
    opacity: 1;
    visibility: visible;
}

header .headerSearch {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #94b1f2;
    border-radius: 99px;
    position: relative;
}

header .headerButtonSearch {
    width: 22px;
    height: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.headerButtonSearch span {
    display: none;
}

header .headerButtonSearch svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    transition: fill .3s;
}

header .headerButtonSearch:hover svg {
    fill: #94b1f2;
}

.responsiveClass {
    opacity: 0;
    visibility: hidden;
}

@media(max-width:1550px) {
    .responsiveClass {
        opacity: 1;
        visibility: visible;
    }

    .headerGateChildCover {
        position: absolute;
        top: 100%;
        right: 0;
        background: #2a2e37;
        width: 200px;
        flex-direction: column;
        gap: 0 !important;
        border-radius: 10px;
    }

    .headerGateChildCover .headerGateChild {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border-right: 3px solid transparent;
    }

    .genresGateChild,
    .nationGateChild {
        top: 0 !important;
        right: 100% !important;
        border-radius: 10px;
    }

    .genresGateChild a,
    .nationGateChild a {
        border-right: 3px solid transparent;
    }


    .headerGateChildCover .headerGateChild:hover {
        border-right-color: #94b1f2;
        color: #fff;
        background: linear-gradient(90deg, rgba(148, 177, 242, 0) 0%, rgba(148, 177, 242, 0.2) 25%, rgba(148, 177, 242, 0.3) 50%, rgba(148, 177, 242, 0.4) 75%, rgba(148, 177, 242, 0.5) 100%);
    }

    .genresGate .genresGateChild a:hover,
    .nationGate .nationGateChild a:hover {
        border-right-color: #94b1f2;
        color: #fff;
        background: linear-gradient(90deg, rgba(148, 177, 242, 0) 0%, rgba(148, 177, 242, 0.2) 25%, rgba(148, 177, 242, 0.3) 50%, rgba(148, 177, 242, 0.4) 75%, rgba(148, 177, 242, 0.5) 100%);
    }

    .headerButtonSearch {
        height: auto !important;
    }

    .headerButtonSearch svg {
        display: none;
    }

    .headerButtonSearch span {
        display: block;
    }
}

@media (max-width:1300px) {
    header {
        padding: 10px;
    }
}

@media (max-width:991px) {
    .genresGateChild,
    .nationGateChild {
        flex-direction: column;
        width: 100% !important;
        flex-wrap: nowrap !important;
        max-height: 60vh;
        overflow-y: scroll;
    }

    .genresGateChild a,
    .nationGateChild a {
        padding: 10px !important;
        width: 100% !important;
    }
}