.information {
    width: 100%;
    min-height: 100%;
    background: #202124;
    padding: 150px;
}

.information .movieIn4,
.information .movieIn4 .coverTextIn4 .movieSideIn4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.information .movieIn4 img {
    width: 30%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 20px, rgba(255, 255, 255, 0.1) 0px 6px 12px;
}

.information .movieIn4 .coverTextIn4 {
    width: 66%;
}


.information .movieIn4 .coverTextIn4 .movieName {
    color: #fff;
    font-size: 2.5vw;
    letter-spacing: 1px;
    word-break: break-all;
}

.information .movieIn4 .coverTextIn4 .movieSideIn4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.information .movieIn4 .coverTextIn4 .movieSideIn4 .leftSideIn4 {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.information .movieIn4 .coverTextIn4 .movieSideIn4 .rightSideIn4 {
    width: 35%;
}

.information .movieIn4 .coverTextIn4 .categoryIn4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.information .movieIn4 .coverTextIn4 .ratingIn4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.information .movieIn4 .coverTextIn4 .categoryIn4 .mainCategory {
    background: #2a2e37;
    color: gray;
    padding: 5px 15px;
    border-radius: 99px;
    text-decoration: none;
    transition: color .3s;
}

.information .movieIn4 .coverTextIn4 .categoryIn4 .mainCategory:hover {
    color: rgba(211, 211, 211, 0.8);
}

.information .movieIn4 .coverTextIn4 .ratingIn4 .ratingChild {
    display: flex;
    align-items: center;
    gap: 8px;
}

.information .movieIn4 .coverTextIn4 .ratingIn4 .ratingChild .brandRate {
    padding: 5px 10px;
    border-radius: 99px;
    color: black;
    font-weight: bold;
}

.information .movieIn4 .coverTextIn4 .ratingIn4 .ratingChild .rateScore {
    color: rgba(211, 211, 211, 0.8);
}

.information .movieIn4 .coverTextIn4 .ratingIn4 .ratingChild .brandImdb {
    border-radius: 0;
    background: #F5C518;
}

.information .movieIn4 .coverTextIn4 .ratingIn4 .ratingChild .brandAge {
    background: #EE9D84;
}

.information .movieIn4 .coverTextIn4 .ratingIn4 .ratingChild .brandTime {
    background: #75CE99;
}

.information .movieIn4 .coverTextIn4 .contentIn4 {
    color: rgba(211, 211, 211, 0.8);
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    -webkit-box-orient: vertical;
    letter-spacing: 0.5px;
}

.information .movieIn4 .coverTextIn4 .buttonIn4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.information .movieIn4 .coverTextIn4 .playButton {
    text-decoration: none;
    border: none;
    background: #94b1f2;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 99px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s;
    color: #202124;
    cursor: pointer;
    text-wrap: nowrap;
}

.information .movieIn4 .coverTextIn4 .playButton:hover,
.toolsBar .rateAndReview form .noReviewButton:hover {
    color: #fff;
}

.information .movieIn4 .coverTextIn4 .trailerButton {
    text-decoration: none;
    background: transparent;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 99px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s;
    color: #94b1f2;
    outline: 1px solid #94b1f2;
    border: none;
    cursor: pointer;
    text-wrap: nowrap;
}

.information .movieIn4 .coverTextIn4 .trailerButton:hover {
    color: #fff;
    background: #94b1f2;
}

.information .movieIn4 .coverTextIn4 .playButton:active,
.information .movieIn4 .coverTextIn4 .trailerButton:active,
.toolsBar .rateAndReview form .noReviewButton:active {
    scale: 0.9;
}

.information .movieIn4 .coverTextIn4 .movieSideIn4 .rightSideIn4 .quiteIn4 {
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    padding: 10px 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quiteIn4 .quiteName {
    color: #94b1f2;
    font-size: 20px;
}

.quiteIn4 .quiteContent a,
.quiteIn4 .quiteContent {
    font-size: 18px;
    color: rgba(211, 211, 211, 0.8);
    text-decoration: none;
}

.quiteIn4 .quiteContent{
    display: flex;
    align-items: center;
    gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.quiteIn4 .quiteContent a:hover {
    transition: color .3s;
    color: #fff;
}

.toolsBar {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.toolsBar .coverToolsBar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(37, 39, 44, 1) 0%, rgba(37, 39, 44, 0.9) 35%, rgba(37, 39, 44, 0) 100%);
}

.toolsBar .coverToolsBar .toolsBarTitle {
    background: transparent;
    padding: 15px 25px;
    border-top: solid transparent;
    border-width: 3px 0 0 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
}

.toolsBar .coverToolsBar .toolsBarTitle:hover {
    border-top-color: #94b1f2;
}

.toolsBar .coverToolsBar .titleActive {
    color: #94b1f2;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border: solid #94b1f2;
    border-width: 3px 0 0 0;
    background: linear-gradient(180deg, rgba(148, 177, 242, 0.5) 0%, rgba(148, 177, 242, 0.3) 35%, rgba(148, 177, 242, 0) 100%);
}

.toolsBar iframe {
    width: 100%;
    height: 800px;
    border: none;
}

.toolsBar .epsCover {
    padding: 15px;
    border-radius: 10px;
    background: #2a2e37;
    display: flex;
    align-items: center;
    gap: 15px;
}

.toolsBar .epsCover .epsTool {
    text-decoration: none;
    background: #202124;
    color: #94b1f2;
    border: 2px solid #94b1f2;
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    transition: all .3s;
}

.toolsBar .epsCover .epsTool:hover {
    background: #94b1f2;
    color: #fff;
}

.toolsBar .rateCover {
    padding: 15px;
    border-radius: 10px;
    background: #2a2e37;
}